@use 'mixins' as *;
@use 'media' as *;

.container--right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
    @media (max-width: 1510px) {
        & > div:first-child {
            padding-left: 20px;
        }
    }

    @include media('tablet') {
        & > div:first-child {
            padding-inline: 20px;
        }
    }
}

.container--left {
    padding-right: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
}

.desktop--hidden {
    @include media('desktop') {
        display: none !important;
    }
}

.desktop--visible {
    display: none;
    @include media('desktop') {
        display: block;
    }
}

.tablet--hidden {
    @include media('tablet') {
        display: none !important;
    }
}

.tablet--visible {
    display: none;
    @include media('tablet') {
        display: block;
    }
}

.mobile--hidden {
    @include media('mobile') {
        display: none !important;
    }
}

.mobile--visible {
    display: none;
    @include media('mobile') {
        display: block;
    }
}
