:root {
    --container-width: 1520px;
    --container-padding: 20px;

    --vh: 1vh;
    --section-mb: 180px;
    --section-mb-sm: 160px;
    --section-pdd: 180px;
    --scrl-mt: 130px;

    --bg-color: #fffbf1;
    --text-color: #161616;
    --dark-color: #161616;
    --wht-color: #fff;
    --graphite-color: #0c1c34;
    --accent-color: #6aafa3;
    --pink-color: #f4a9cb;
    --accent-gradient: linear-gradient(90deg, #6aafa3 0%, #337569 100%);

    --ff-accent: 'Akzidenz-Grotesk Pro', sans-serif;
    --ff-base: 'Montseratt', sans-serif;
    --ff-druzok: 'Druzok', sans-serif;
}

@media (max-width: 991px) {
    :root {
    }
}

@media (max-width: 767px) {
    :root {
    }
}
