@use '../../base/media' as *;
@use '../../base/mixins' as *;

.js-animation--to-top {
    opacity: 0;
    transform: translate3d(0, 60px, 0) scale3d(0.96, 0.96, 1);
    transform-style: preserve-3d;
    transition: all 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;

    &._animated {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

.js-animation--to-left {
    opacity: 0;
    transform: translate3d(60px, 0, 0) scale3d(0.96, 0.96, 1);
    transform-style: preserve-3d;
    transition: all 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;

    &._animated {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

.js-animation--text {
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
    &._animated {
        clip-path: inset(0);
    }
}
