@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main-subtitle {
    font: 300 56px / 100% var(--ff-accent);
    text-transform: uppercase;
    letter-spacing: -2px;
    @include media('desktop') {
        font-size: 46px;
    }
    @include media('tablet') {
        font-size: 36px;
    }
    @include media('mobile') {
        font-size: 24px;
    }
}
