@use '../base/media' as *;
@use '../base/mixins' as *;

.info-gallery {
    @include media('mobile') {
        overflow: hidden;
    }
    .container {
        max-width: 1686px;
    }

    &__preview {
        overflow: hidden;
        width: 100%;
        padding-top: 40px;

        @include media('mobile') {
            padding-top: 24px;
            height: 350px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 16px;
            @include media('mobile') {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__pic {
        border-radius: 16px;
        overflow: hidden;

        @include media('mobile') {
            height: 320px;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            @include media('mobile') {
                height: 100%;
            }
        }
    }

    &__slider {
        @include media('mobile') {
            overflow: visible;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: var(--container-width);
        margin: 0 auto 40px;
        @include media('mobile') {
            gap: 12px;
            margin: 0 auto 16px;
        }
    }

    &__btn {
        display: inline-flex;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--dark-color);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            width: 26px;
            height: 26px;
        }

        &.swiper-button-disabled {
            opacity: 0.6;
            pointer-events: none;
        }

        svg {
            display: inline-flex;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            @include media('mobile') {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__pag {
        position: relative;
        max-width: 1230px;
        height: 1px !important;
        background: rgba(22, 22, 22, 0.1);

        .swiper-pagination-progressbar-fill {
            background: var(--dark-color);
        }
    }
}
