@use '../base/media' as *;
@use '../base/mixins' as *;

.promo-boxes {
    display: grid;
    gap: 68px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    &:not(&.promo-boxes--lg) {
        @include media('mobile') {
            gap: 12px;
            display: flex;
            align-items: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            scroll-snap-type: x mandatory;
            padding-inline: 20px;

            .promo-box {
                scroll-snap-align: center;
                flex-shrink: 0;
            }
        }
    }

    &--lg {
        grid-template-columns: repeat(auto-fit, minmax(448px, 1fr));
        @include media('mobile') {
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
            gap: 40px;
        }
    }

    .promo-box {
        width: 100%;
        @include media('mobile') {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 368px;
        }

        &__thumb {
            width: 100%;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 24px;
            @include media('mobile') {
                margin-bottom: 16px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__date {
            font: 500 18px / 100% var(--ff-base);
            margin-bottom: 16px;
            display: inline-flex;
            color: var(--accent-color);
            @include media('mobile') {
                font-size: 14px;
                margin-bottom: 12px;
                text-align: center;
            }
        }

        &__name {
            font: 300 24px / 100% var(--ff-accent);
            letter-spacing: -1px;
            @include media('mobile') {
                font-size: 18px;
                text-align: center;
            }
        }
    }
}
