@use '../base/media' as *;
@use '../base/mixins' as *;

.relax-card {
    max-width: 558px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @include hover {
        .relax-card__thumb {
            img {
                transform: scale(1.15);
            }
        }

        .ico {
            &:first-of-type {
                width: 32px;
                transform: translateX(0px) rotate(180deg);
                @include media('mobile') {
                    width: 20px;
                }
            }

            &:last-of-type {
                width: 0;
                transform: translateX(5px) rotate(180deg);
            }
        }

        .text {
            margin-left: 8px;
            margin-right: 0;
        }

        .link-more--drk {
            .text {
                color: var(--accent-color);
            }
        }
    }

    @include media('mobile') {
        align-items: center;
        max-width: 100%;
    }

    &__title {
        font: 300 32px / 100% var(--ff-accent);
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include media('mobile') {
            font-size: 20px;
            text-align: center;
            margin-bottom: 12px;
        }
    }

    &__box {
        flex-direction: column;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        @include media('mobile') {
            width: 100%;
        }

        &--pink {
            &::before {
                background: var(--pink-color);
            }
        }

        &--green {
            &::before {
                background: var(--accent-color);
            }
        }

        &::before {
            border-radius: 50%;
            z-index: 2;
            content: '';
            pointer-events: none;
            width: 596px;
            height: 596px;
            right: -200px;
            bottom: -200px;
            position: absolute;
            opacity: 0.5;
            will-change: transform;
            transform: translateZ(0);
            filter: blur(250px);
        }

        &::after {
            content: '';
            pointer-events: none;
            inset: 0;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(4, 32, 73, 0) 14.35%,
                rgba(4, 32, 73, 0.9) 100%
            );
        }

        @include hover {
            // .relax-card__thumb {
            //     img {
            //         transform: scale(1.15);
            //     }
            // }

            // .ico {
            //     &:first-of-type {
            //         width: 32px;
            //         transform: translateX(0px) rotate(180deg);
            //         @include media('mobile') {
            //             width: 20px;
            //         }
            //     }

            //     &:last-of-type {
            //         width: 0;
            //         transform: translateX(5px) rotate(180deg);
            //     }
            // }

            // .text {
            //     margin-left: 8px;
            //     margin-right: 0;
            // }
        }
    }

    &__thumb {
        position: relative;
        width: 100%;

        @include media('mobile') {
            height: 400px;
        }

        img {
            width: 100%;
            height: auto;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        position: absolute;
        bottom: 40px;
        left: 48px;
        right: 40px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 48px;
        @include media('tablet') {
            bottom: 30px;
            left: 24px;
            right: 23px;
        }
        @include media('mobile') {
            bottom: 32px;
            left: 32px;
            right: 32px;
            gap: 16px;
            align-items: center;
        }
    }

    &__subtitle {
        font: 300 32px / 110% var(--ff-accent);
        letter-spacing: -1px;
        color: var(--wht-color);
        @include media('mobile') {
            font-size: 20px;
            text-align: center;
        }
    }

    .link-more {
        margin-bottom: 32px;
        @include media('mobile') {
            margin-bottom: 16px;
        }

        &--mtn {
            margin-bottom: 0;
        }
    }
}
