@use '../base/media' as *;
@use '../base/mixins' as *;

.room-box {
    height: 100%;
    width: 100%;
    @include hover {
        .room-box__thumb img {
            transform: scale(1.15);
        }

        .room-box__title {
            color: var(--accent-color);
        }

        .room-box__link {
            color: #fff;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font: 300 32px / 100% var(--ff-accent);
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: 18px;
            margin-bottom: 16px;
            text-align: center;
        }

        span {
            color: var(--accent-color);
        }
    }

    &__info {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: space-between;
        margin-bottom: 20px;
        @include media('mobile') {
            order: 1;
            max-width: 100%;
        }
    }

    &__descr {
        display: flex;
        align-items: center;
        gap: 8px;
        @include media('mobile') {
            flex-direction: column;
        }
        span {
            font: 500 18px / 100% var(--ff-base);
            @include media('mobile') {
                font-size: 14px;
            }
        }

        img {
            width: 28px;
            height: 28px;
            @include media('mobile') {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__reserv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 16px;
        flex-wrap: wrap;
        @include media('mobile') {
            order: 3;
            flex-direction: column;
            gap: 8px;
            padding-top: 20px;
            margin-bottom: 0;
        }
    }

    &__price {
        font: 500 18px / 100% var(--ff-base);
        display: inline-flex;
        align-items: center;
        gap: 20px;
        flex: 1;

        @include media('mobile') {
            flex: initial;
            text-align: center;
            font-size: 16px;
            justify-content: center;
        }

        &::after {
            flex: 1;
            content: '';
            max-width: 198px;
            width: 100%;
            height: 1px;
            background: #dddddd;
            @include media('mobile') {
                display: none;
            }
        }
    }

    &__thumb {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        height: 520px;
        @include media('mobile') {
            height: 304px;
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__label {
        font: 500 14px / 100% var(--ff-base);
        text-transform: uppercase;
        position: absolute;
        top: 28px;
        left: 28px;
        display: inline-flex;
        border-radius: 68px;
        padding: 9px 16px;
        background: var(--pink-color);
        @include media('mobile') {
            font-size: 12px;
            padding: 8px 12px;
            top: 12px;
            left: 12px;
        }
    }

    &__link {
        padding: 9px 19px;
    }
}

.empty-box {
    @include hover {
        .empty-box__thumb img {
            transform: scale(1.15);
        }

        .empty-box__title {
            color: var(--accent-color);
        }

        .room-box__link {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__info {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 23px;
        @include media('mobile') {
            order: 2;
            margin-bottom: 0;
            padding-top: 20px;
            justify-content: center;
        }
    }
    &__descr {
        max-width: 352px;
        font: 400 16px / 140% var(--ff-base);
        @include media('mobile') {
            font-size: 14px;
            display: none;
        }
    }
    &__thumb {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        height: 568px;
        @include media('mobile') {
            height: 304px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }
    &__title {
        font: 300 32px / 100% var(--ff-accent);
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: 20px;
        }

        span {
            color: var(--accent-color);
        }
    }
}
