@use '../../base/media' as *;
@use '../../base/mixins' as *;

.advantages {
    margin-bottom: 140px;

    @include media('mobile') {
        margin-bottom: var(--section-mb);
    }

    .content-head {
        margin-bottom: 104px;
        @include media('tablet') {
            margin-bottom: 64px;
        }
        @include media('mobile') {
            margin-bottom: 32px;
        }
    }
}
