@use '../../base/media' as *;
@use '../../base/mixins' as *;

.pack {
    margin-bottom: var(--section-mb);
    &__head {
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        max-width: 1300px;
        @include media('mobile') {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 12px;
            margin-bottom: 24px;
        }
    }

    &__cards {
        .pack-card:last-child {
            border-bottom: 1px solid #cececb;
        }
    }

    .pack-card {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;
        padding-block: 48px;
        border-top: 1px solid #cececb;
        @include media('tablet') {
            flex-direction: column;
        }

        @include media('mobile') {
            padding-block: 24px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 480px;
            @include media('tablet') {
                max-width: 100%;
                width: 100%;
                align-items: center;
                text-align: center;
                gap: 12px;
            }
        }

        &__benefits {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 448px;
            width: 100%;
            @include media('mobile') {
                max-width: 100%;
                gap: 12px;
            }
        }

        &__points {
            display: flex;
            flex-direction: column;
            gap: 32px;
            @include media('tablet') {
                width: 100%;
            }
            @include media('mobile') {
                gap: 24px;
            }
        }

        &__pic {
            max-width: 424px;
            border-radius: 16px;
            overflow: hidden;
            @include media('tablet') {
                max-width: 100%;
                margin: 0 auto;
            }
            @include media('mobile') {
                height: 310px;
            }

            img {
                width: 100%;
                height: auto;
                @include media('mobile') {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__date {
            font: 400 18px / 140% var(--ff-base);
            @include media('mobile') {
                font-size: 14px;
            }
        }

        &__subtitle {
            font: 300 54px / 100% var(--ff-accent);
            letter-spacing: -2px;
            text-transform: uppercase;
            @include media('desktop') {
                font-size: 46px;
            }
            @include media('tablet') {
                font-size: 36px;
            }
            @include media('mobile') {
                font-size: 24px;
                text-align: center;
            }
        }

        &__price {
            display: inline-flex;
            font: 300 32px / 100% var(--ff-accent);
            letter-spacing: -1px;
            color: var(--accent-color);
            @include media('mobile') {
                font-size: 20px;
            }
        }

        &__benefit {
            font: 400 16px / 140% var(--ff-base);
            display: inline-flex;
            align-items: flex-start;
            gap: 17px;
            @include media('mobile') {
                font-size: 14px;
                gap: 10px;
            }

            &::before {
                content: '';
                display: inline-flex;
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                background: url('../img/icons/ico_star_gld.svg') no-repeat
                    center center / cover;
            }
        }

        .link-accent {
            width: max-content;
            @include media('tablet') {
                margin: 0 auto;
            }
            @include media('mobile') {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
