@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .benefits {
        background: var(--bg-color);
        position: relative;
        padding-block: var(--section-pdd);

        &__title {
            max-width: 1223px;
            margin-bottom: 72px;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }

        &__card {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            padding-bottom: 48px;
            border-bottom: 1px solid rgba(22, 22, 22, 0.2);

            &:first-child {
                padding-top: 48px;
                border-top: 1px solid rgba(22, 22, 22, 0.2);
            }

            &:nth-child(odd) {
                .benefits__thumb {
                    order: 2;
                }

                .benefits__info {
                    order: 1;
                }

                .benefits__about {
                    order: 3;
                }
            }

            &:nth-child(even) {
                .benefits__info {
                    margin-left: auto;
                    margin-right: 30px;
                }
            }
        }

        &__thumb {
            height: 298px;
            max-width: 422px;
            width: 100%;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__subtitle {
            font: 300 24px / 100% var(--ff-accent);
            letter-spacing: -1px;
            margin-bottom: 32px;
            color: var(--accent-color);
        }

        &__name {
            hyphens: auto;
        }

        &__text {
            font: 400 18px / 140% var(--ff-base);
            margin-bottom: 32px;
        }

        &__about {
            width: 100%;
            max-width: 355px;
        }

        &__info {
            max-width: 480px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .link-accent {
            margin-top: auto;
            width: max-content;
        }
    }
}
