@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .preview {
        display: grid;
        padding-block: var(--section-pdd) 92px;
        position: relative;
        min-height: 100vh;
        min-height: 100svh;
        background: var(--bg-color);
        color: var(--wht-color);

        &__anim {
            position: absolute;
            top: 50%;
            border-radius: 16px;
            overflow: hidden;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 480px;
            height: 488px;
            @include transitions(
                0.7s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include media('mobile') {
                width: 80%;
                height: 350px;
            }

            &::after {
                content: '';
                inset: 0;
                position: absolute;
                pointer-events: none;
                background: linear-gradient(
                    180deg,
                    rgba(22, 22, 22, 0.6) 0%,
                    rgba(22, 22, 22, 0.6) 50.3%,
                    rgba(16, 76, 73, 0.6) 100%
                );
            }

            &.is-scale {
                border-radius: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__bg {
            position: absolute;
            inset: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &__content {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            @include transitions(
                0.7s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            &.is-show {
                opacity: 1;
                visibility: visible;
            }
        }

        &__descr {
            font: 300 32px / 110% var(--ff-accent);
            letter-spacing: -1px;
            @include media('tablet') {
                font-size: 24px;
            }
            @include media('mobile') {
                font-size: 18px;
            }
        }

        &__info {
            max-width: 978px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }
    }
}
