@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--space {
    .content {
        margin-bottom: var(--section-mb-sm);
        .content-head {
            margin-bottom: 60px;
            @include media('mobile') {
                margin-bottom: 36px;
            }
            &__text {
                margin-bottom: 32px;
                @include media('mobile') {
                    margin-bottom: 16px;
                }
            }
        }

        .container:has(.space-boxes) {
            @include media('mobile') {
                padding: 0;
            }
        }
    }
}
