@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--article {
    overflow: hidden;
    position: relative;
    .content {
        padding-top: 152px;
        margin-bottom: var(--section-mb-sm);

        @include media('mobile') {
            padding-top: 104px;
        }

        .link-more {
            margin: 0 auto;
        }

        &__info {
            padding-top: 32px;
            position: relative;
            z-index: 2;
            max-width: 980px;
            margin: 0 auto;
            @include media('mobile') {
                padding-top: 24px;
            }
        }

        h1 {
            font: 300 80px / 100% var(--ff-accent);
            letter-spacing: -3px;
            text-transform: uppercase;
            margin: 0 0 40px 0;
            text-align: center;
            color: var(--graphite-color);
            @include media('desktop') {
                font-size: 60px;
            }

            @include media('tablet') {
                font-size: 42px;
            }

            @include media('mobile') {
                font-size: 28px;
                margin: 0 0 16px 0;
            }
        }

        h2 {
            font: 300 44px / 110% var(--ff-accent);
            letter-spacing: -1px;
            margin: 0 0 24px 0;
            color: var(--graphite-color);
            @include media('tablet') {
                font-size: 32px;
            }
            @include media('mobile') {
                font-size: 20px;
                margin: 0 0 16px 0;
            }
        }

        h3 {
            font: 300 32px / 100% var(--ff-accent);
            letter-spacing: -1px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
            color: var(--graphite-color);
            @include media('tablet') {
                font-size: 26px;
            }
            @include media('mobile') {
                font-size: 18px;
                margin: 0 0 16px 0;
            }
        }

        h4 {
            font: 300 28px / 100% var(--ff-accent);
            letter-spacing: -1px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
            color: var(--graphite-color);
            @include media('tablet') {
                font-size: 24px;
            }
            @include media('mobile') {
                font-size: 16px;
                margin: 0 0 16px 0;
            }
        }

        h5 {
            font: 300 24px / 100% var(--ff-accent);
            letter-spacing: -1px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
            color: var(--graphite-color);
            @include media('tablet') {
                font-size: 24px;
            }
            @include media('mobile') {
                font-size: 16px;
                margin: 0 0 16px 0;
            }
        }

        h6 {
            font: 300 20px / 100% var(--ff-accent);
            letter-spacing: -1px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
            color: var(--graphite-color);
            @include media('tablet') {
                font-size: 24px;
            }
            @include media('mobile') {
                font-size: 16px;
                margin: 0 0 16px 0;
            }
        }

        p {
            font: 400 18px / 140% var(--ff-base);
            margin-bottom: 60px;

            @include media('mobile') {
                font-size: 14px;
                margin-bottom: 32px;
            }

            &:has(+ p) {
                margin-bottom: 24px;
                @include media('mobile') {
                    margin-bottom: 18px;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 16px;
            margin-bottom: 60px;

            @include media('mobile') {
                margin-bottom: 32px;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                font: 400 16px / 140% var(--ff-base);
                list-style-type: none;
                display: inline-flex;
                align-items: flex-start;
                gap: 17px;
                color: var(--graphite-color);

                @include media('mobile') {
                    font-size: 14px;
                    gap: 10px;
                }

                &::before {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 20px;
                    height: 20px;
                    background: url('../img/icons/ico_star_gld.svg') no-repeat
                        center center / cover;
                }
            }
        }

        ol {
            counter-reset: process-counter;
            padding: 0;
            margin: 0;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                counter-increment: process-counter;
                font: 400 16px / 140% var(--ff-base);
                list-style-type: none;
                display: inline-flex;
                align-items: flex-start;
                gap: 17px;
                color: var(--graphite-color);
                @include media('mobile') {
                    font-size: 14px;
                    gap: 10px;
                }

                &::before {
                    content: counter(process-counter, decimal-leading-zero);
                    font: 400 16px / 140% var(--ff-base);
                    letter-spacing: -2px;
                    text-transform: uppercase;
                    color: var(--accent-color);
                    @include media('mobile') {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
