@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--rooms {
    .appartments {
        overflow: hidden;
        margin-bottom: var(--section-mb);
        &__head {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 60px;
        }

        &__title {
            max-width: 729px;
        }

        &__descr {
            max-width: 558px;
        }

        .rooms-slider {
            &__nav {
                margin-top: 0;
                margin-bottom: 40px;
            }
        }
    }
}
