@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--rooms {
    .services {
        padding-block: 104px 296px;
        min-height: 100vh;
        min-height: 100svh;
        position: relative;
        overflow: hidden;
        color: var(--wht-color);
        background: var(--dark-color);
        @include media('mobile') {
            padding-block: var(--section-pdd) 0;
            display: flex;
            flex-direction: column-reverse;
            gap: 60px;
        }

        .container {
            position: relative;
            z-index: 3;
        }

        &::after {
            content: '';
            border-radius: 50%;
            width: 1320px;
            bottom: 0;
            right: 0;
            height: 1320px;
            position: absolute;
            background: var(--accent-color);
            filter: blur(500px);
            z-index: 1;
            opacity: 0.2;
            pointer-events: none;
            @include media('mobile') {
                width: 520px;
                height: 520px;
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__bg {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 1104px;
            width: 100%;
            pointer-events: none;
            @media (max-width: 1360px) {
                max-width: 700px;
            }

            @include media('tablet') {
                max-width: 500px;
            }

            @include media('mobile') {
                max-width: 100%;
                position: relative;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(
                    270deg,
                    #ffffff 54.44%,
                    rgba(255, 255, 255, 0.3) 81.6%,
                    rgba(255, 255, 255, 0) 100%
                );
            }

            img {
                height: 100%;
                object-fit: contain;
                @include media('mobile') {
                    object-fit: cover;
                }
            }
        }

        &__title {
            margin-bottom: 104px;
            max-width: 855px;
            @include media('mobile') {
                text-align: center;
                max-width: 100%;
                margin-bottom: 40px;
            }
        }

        &__subtitle {
            font: 300 32px / 100% var(--ff-accent);
            letter-spacing: -1px;
            margin-bottom: 32px;
            text-transform: uppercase;
            opacity: 0.4;
            @include media('mobile') {
                text-align: center;
                margin-bottom: 24px;
                font-size: 20px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include media('mobile') {
                align-items: center;
                gap: 24px;
            }
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 20px;
            max-width: 730px;
            @include media('mobile') {
                max-width: 100%;
                gap: 40px;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        &__item {
            max-width: 355px;
            width: 100%;
        }

        .link-more {
            @include hover {
                .text::after {
                    opacity: 1;
                    background: var(--accent-color);
                }

                .ico {
                    &:first-of-type {
                        width: 32px;
                        transform: translateX(0px);
                    }

                    &:last-of-type {
                        width: 0;
                        transform: translateX(5px);
                    }
                }
            }

            .ico {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }

            .text {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }

            .text::after {
                opacity: 0.2;
                background: var(--wht-color);
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
        }
    }
}
